<!DOCTYPE html>
<html>
<head>
    <title>pydepta table extraction</title>
</head>
<body>
<h1>pydepta</h1>
<p>This is a very simple web service that will take a given URL, and return the tabulated data of that page.</p>

<form action="/" method="get">
    URL: <input type="text" name="url">
    <button type='submit'>Submit</button>
</form>

<a href="https://github.com/tpeng/pydepta-heroku"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

</body>
</html>
